{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
        <div class="card py-5">
            <div class="card-body">
                <h1 class="display-4 mb-4">Welcome to MIMS VOTING SYSTEM</h1>
                <p class="lead mb-4">A secure online voting platform</p>
                <div class="d-grid gap-3 col-md-6 mx-auto">
                    <a href="/vote" class="btn btn-primary btn-lg">Cast Your Vote</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}